<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
    <title>BBB: Home Page</title>
    <style>

nav {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 20px;
        }

body {
    font-family: 'Cinzel', serif;
    background: linear-gradient(to bottom, white, silver); 
}
.container {
    display: flex;
    padding: 200px;
    margin: 200px;
    height: 500px;
    width: 1700px;
    background-image: url('/assets/giga.png');
    background-size: cover;
    box-shadow: inset 0 0 500px 100px rgb(255, 255, 255);
    border-radius: 25px;
}
    </style>
</head>
<body>

    <nav>
        <a href="/cars">All Cars</a>
        <a href="/cars/new">Add New Car</a>
        <a href="/cars/race">Race Now!</a>
    </nav>

    <h1>Welcome to Build, Burn, Race!</h1>

    <div class="container">
        <p>Build you car and race against the best!</p>
    </div>
    
    
</body>
</html>