<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
    <title>BBR: The Show Room</title>
</head>

<style>
    body {
        font-family: 'Cinzel', serif;
        background: linear-gradient(to bottom, white, silver);
        margin: 0;
        padding: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Adjust this line */
        gap: 20px;
        padding: 20px;
        justify-items: center;
    }

    .gallery > div {
        border: 0px solid #000;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-align: center;
    }

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul li {
        margin-bottom: 5px;
    }
</style>

<nav>
    <a href="/cars">All Cars</a>
    <a href="/cars/new">Add New Car</a>
    <a href="/cars/race">Race Now!</a>
</nav>

<body>
    <div class="gallery">
    <div class="car1">
    <h2>UltimateionFusion86</h2>
    <img src="/assets/car1.png" alt="UltimateionFusion86">
    <ul>
        <li>Chassis: Carbon Fiber</li>
        <li>Engine: ionFusion Drive</li>
        <li>Drive Train: FluxDrive Matrix</li>
        <li>Craftsmanship: Ultimate</li>
    </ul>
    </div>

    <div class="car2">
    <h2>SportsHydrogen57</h2>
    <img src="/assets/car2.png" alt="SportsHydrogen57">
    <ul>
        <li>Chassis: Magnesium Alloy</li>
        <li>Engine: Hydrogen Fuel Cell</li>
        <li>Drive Train: Rear-Wheel Drive</li>
        <li>Craftsmanship: Sports</li>
    </ul>
    </div>

    <div class="car3">
    <h2>SportsQuantum75</h2>
    <img src="/assets/car3.png" alt="SportsQuantum75">
    <ul>
        <li>Chassis: Carbon Fiber</li>
        <li>Engine: Quantum Impulse Drive</li>
        <li>Drive Train: Front-Wheel Drive</li>
        <li>Craftsmanship: Sports</li>
    </ul>
    </div>

    <div class="car4">
    <h2>UltimateDual24</h2>
    <img src="/assets/car4.png" alt="UltimateDual24">
    <ul>
        <li>Chassis: Silk Fiber</li>
        <li>Engine: Dual Motor Electric</li>
        <li>Drive Train: Front-Wheel Drive</li>
        <li>Craftsmanship: Ultimate</li>
    </ul>
    </div>

    <div class="car5">
    <h2>UltraionFusion68</h2>
    <img src="/assets/car5.png" alt="UltraionFusion68">
    <ul>
        <li>Chassis: Magnesium Alloy</li>
        <li>Engine: ionFusion Drive</li>
        <li>Drive Train: Front-Wheel Drive</li>
        <li>Craftsmanship: Ultra</li>
    </ul>
    </div>

    <div class="car6">
    <h2>MythicalSupercharged45</h2>
    <img src="/assets/car6.png" alt="MythicalSupercharged45">
    <ul>
        <li>Chassis: Titanium</li>
        <li>Engine: Supercharged V8</li>
        <li>Drive Train: All-Wheel Drive</li>
        <li>Craftsmanship: Mythical</li>
    </ul>
    </div>

    <div class="car7">
    <h2>MegaionFusion24</h2>
    <img src="/assets/car7.png" alt="MegaionFusion24">
    <ul>
        <li>Chassis: Diamond Fiber</li>
        <li>Engine: ionFusion Drive</li>
        <li>Drive Train: Front-Wheel Drive</li>
        <li>Craftsmanship: Mega</li>
    </ul>
    </div>

    <div class="car8">
    <h2>SuperTri-turbo74</h2>
    <img src="/assets/car8.png" alt="SuperionFusion57">
    <ul>
        <li>Chassis: Magnesium Alloy</li>
        <li>Engine: Tri-turbo Inline 6</li>
        <li>Drive Train: Performance Electric Drive</li>
        <li>Craftsmanship: Super</li>
    </ul>
    </div>

    <div class="car9">
    <h2>ExtremeTurbocharged70
    </h2>
    <img src="/assets/car9.png" alt="SuperQuantum75">
    <ul>
        <li>Chassis: Nanotube</li>
        <li>Engine: Turbocharged 90 degree V6 DOHC</li>
        <li>Drive Train: FluxDrive Matrix</li>
        <li>Craftsmanship: Extreme</li>
    </ul>
    </div>

    </div>
</div>
</body>
</html>